spawn-at-startup "waybar"
spawn-at-startup "awww-daemon"
spawn-at-startup "export GTK_IM_MODULE=fcitx5"
spawn-at-startup "export QT_IM_MODULE=fcitx5"
spawn-at-startup "export XMODIFIERS=@im=fcitx5"
spawn-at-startup "export INPUT_METHOD=fcitx5"
spawn-at-startup "export SDL_IM_MODULE=fcitx5"
spawn-at-startup "hypridle"
spawn-at-startup "fcitx5"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "lxqt-policykit-agent"
