#browser {
--colorFg: rgb(225, 226, 230) !important;  /* foreground text */
--colorFgAlpha: rgba(225, 226, 230, 0.1) !important; /* foreground text */
--colorFgIntense: rgb(225, 226, 230) !important; /* foreground text */
/*--colorFgFaded: rgb(0, 0, 0) !important; /* unfocused window foreground text */
/*--colorFgFadedMore: rgb(0, 0, 0) !important; /* unfocused window foreground text */
/*--colorFgFadedMost: rgb(0, 0, 0) !important; /* unfocused window foreground text */
--colorBg: rgb(54, 76, 91) !important; /* adress bar and selected tab and settings sidebar */
--colorBgAlpha: rgba(54, 76, 91, 0.9) !important; /* adress bar and selected tab and settings sidebar */
--colorBgAlphaHeavy: rgba(54, 76, 91, 0.65) !important; /* adress bar and selected tab and settings sidebar */
--colorBgAlphaHeavier: rgba(54, 76, 91, 0.25) !important; /* adress bar and selected tab and settings sidebar */
--colorBgAlphaBlur: rgb(17, 20, 22) !important; /* adress bar and selected tab */
--colorBgDark: rgb(17, 20, 22) !important; /* n/a */
--colorBgDarker: rgb(0, 0, 0) !important; /* n/a */
--colorBgLight: rgb(11, 13, 14) !important; /* unfocused adress bar and selected tab */
--colorBgLighter: rgb(33, 39, 43) !important; /* unfocused adress bar and selected tab */
--colorBgLightIntense: rgb(33, 39, 43) !important; /* n/a */
--colorBgIntense: rgb(17, 20, 22) !important; /* search field */
--colorBgIntenser: rgb(0, 0, 0) !important; /* search field */
--colorBgIntserAlpha: rgba(0, 0, 0, 0.92) !important; /* search field */
--colorBgInverse: rgb(64, 72, 78) !important; /* only on crtl+f => not found */
--colorBgInverser: rgb(22, 25, 28) !important; /* only on crtl+f => not found */
/*--colorBgFaded: rgb(145, 206, 247) !important; /* n/a */
--colorHighlightBg: rgb(145, 206, 247) !important; /* text highlight and search field border */
--colorHighlightBgFaded: rgb(3, 29, 47) !important;  /* text highlight and search field border */
--colorHighlightBgAlpha: rgba(145, 206, 247, 0.1) !important; /* text highlight and search field border */
--colorHighlightBgDark: rgb(0, 0, 0) !important; /* text highlight and search field border */
--colorHighlightFg: rgb(0, 52, 76) !important; /* selected text */
--colorHighlightFgAlpha: rgba(0, 52, 76, 0.5) !important; /* selected text */
--colorHighlightFgAlphaHeavy: rgba(0, 52, 76, 0.25) !important; /* selected text */
--colorAccentBg: rgb(17, 20, 22) !important; /* tab bg color */
--colorAccentBgAlpha: rgba(17, 20, 22, 0.55) !important; /* tab bg color */
--colorAccentBgAlphaHeavy: rgba(17, 20, 22, 0.35) !important; /* tab bg color */
--colorAccentBgDark: rgb(25, 28, 30) !important; /* n/a */
--colorAccentBgDarker: rgb(12, 15, 17) !important; /* n/a */
--colorAccentBgFaded: rgb(17, 20, 22) !important; /* unfocused tab bg color */
--colorAccentBgFadedMore: rgb(25, 28, 30) !important; /* n/a */
--colorAccentBgFadedMost: rgb(12, 15, 17) !important; /* n/a */
--colorAccentBorder: rgb(64, 72, 78) !important; /* n/a */
--colorAccentBorderDark: rgb(0, 0, 0) !important; /* n/a */
--colorAccentFg: rgb(225, 226, 230) !important;  /* tab titles and vivaldi sign */
--colorAccentFgFaded: rgb(0, 0, 0) !important; /* tab titles and vivaldi sign */
--colorAccentFgAlpha: rgba(225, 226, 230, 0.15) !important; /* tab titles and vivaldi sign */
--colorAccentFgAlphaHeavy: rgba(225, 226, 230, 0.35) !important; /* tab titles and vivaldi sign */
--colorBorder: rgb(138, 146, 152) !important; /* some borders */
--colorBorderDisabled: rgb(145, 206, 247) !important; /* some borders disabled */
--colorBorderSubtle: rgb(0, 0, 0) !important; /* some borders disabled */
--colorBorderIntense: rgb(64, 72, 78) !important; /* some borders disabled */
--colorSuccessBg: rgb(118 100.00% 32.75%);
--colorSuccessBgAlpha: rgba(118 100.00% 32.75% / 0.10);
--colorSuccessFg: rgb(0 0.00% 100.00%);
--colorWarningBg: rgb(48 100.00% 50.00%);
--colorWarningBgAlpha: rgba(48 100.00% 50.00% / 0.10);
--colorWarningFg: rgb(0 0.00% 0.00%);
--colorErrorBg: rgb(147, 0, 10) !important;
--colorErrorBgAlpha: rgba(147, 0, 10, 0.1) !important;
--colorErrorFg: rgb(105, 0, 5) !important;
/* --colorWindowBg: rgb(255, 180, 171) !important; new page monotone bg (replaces image background) */
/* --colorWindowFg: rgb(255, 180, 171) !important; fg for previos*/
}

/* in some color schemes settings appear too bright. this is meant to fix it. */
.vivaldi-settings,
.settings-content,
.settings-sidebar {
  background-color: rgb(17, 20, 22) !important;
}
